#vacant {
 
    box-shadow: 5px 10px 40px rgba(105,105,105,0.14);
    width: 90%;
    height: 15vh;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

#image_part{ 
    width: 6%;
}
#text_part {
    width: 25%;
}
#detail_part{
    width: 20%;
}

#logo {
    height: 50px;
    width:50px;
    border-radius: 30px;
}
#text_part{ 
    
    display: flex;
    flex-direction: column;
}
#job_name { 
    font-family: 'Poppins-light';
    font-weight: 700;
    color:#7564bd;
    font-size: 16px;
    text-decoration: none;
}
#company_name {
    padding-top: 5px;
    font-size: 12px;
    font-family: 'Poppins-light';
    font-weight: 700;
}
#detail_part {
    display: flex;
    flex-direction: column;
    align-items: left;
}
#detail_part >div {
    display: flex;
    flex-direction: row;
    align-items:center;
}
#detail_part >div >p { 
    padding-top: 10px;
    margin-left: 10px;
    font-family: 'Poppins-light';
    font-weight: 700;
    font-size: 13px;
}
#calendar, #location {
    height:22px;
    width:22px;
    padding-top: 10px;
}
#button_part > button { 
    height: 35px;
    width: 90px;
    border-radius: 7px;
    border:solid 1px #7638da;
    background-color: transparent;
    color: #7638da;
    font-family: 'Poppins-medium';
   font-size: 12px;
}
#button_part > button:hover{ 
    background-color:#7638da; 
    color: white;

}
#vacant:hover{
    background-color: rgba(105,105,105, 0.3);
}

@media screen  and (max-width: 450px){
    #vacant {
        width: 100%;
        height: 15vh;
    }
    
    #button_part > button { 
        display: none;
    }
    #logo {
        height: 40px;
        width:40px;
        border-radius: 30px;
    }
    #job_name { 
        font-size: 14px;
    }
    
}